{% extends "layout.html" %} {% block content %}


<div class="wrap">
<div class="col-md-4">
    <div class="content-links">
      <h3>P2</h3>
      <p class='text-muted'>Vælg en rute
        <ul class="list-group">
          <li class="list-group-item list-group-item-light"><form method="post">{{ adr.jylland}}</form></a></li>
          <li class="list-group-item list-group-item-light"><form method="post">{{ adr.badehus}}</form></li>
          <li class="list-group-item list-group-item-light"><form method="post">{{ adr.jomfru}}</form></li>
          <li class="list-group-item list-group-item-light"><form method="post">{{ adr.pizza}}</form></li>
        </ul>
      </p>
    </div>
  </div>
  <div class="map">
{% if adr.jylland.data %}
<div>
  <iframe src="https://ridewithgps.com/embeds?type=route&id=37759703&sampleGraph=true" style="width: 1px; min-width: 630px; height: 480px; border: none;" scrolling="no"></iframe>
</div>
{% elif adr.badehus.data %}
<div>
  <iframe src="https://ridewithgps.com/embeds?type=route&id=38717585&sampleGraph=true" style="width: 1px; min-width: 630px; height: 480çpx; border: none;" scrolling="no"></iframe>
</div>
{% elif adr.jomfru.data %}
<div>
<iframe src="https://www.google.com/maps/d/embed?mid=1Fn2qZmP3Oyz13-2jSdHQZ3mOgaVodmr-&ehbc=2E312F" width="640" height="480"></iframe>
</div>
{% elif adr.pizza.data %}
<div>
    <iframe src="https://www.google.com/maps/d/embed?mid=1XHSuuecNH9-wYvp7uC13LSt1erfI4TnR&ehbc=2E312F" width="640" height="480"></iframe>
</div>
<div class="routedrop">
  
</div>
{% endif %}
</div>
</div>
{% endblock content %}
