{% extends "layout.html" %} 
{% block div %} 






<div class="col-md-4">
  <div class="content-section">
    <h3>Vælg Rute</h3>
      <ul class="list-group">
        {% for knapper in knap%}
        <li class="list-group-item list-group-item-light"><form method="post">{{ knap.submit}}</form></a></li>
        {% endfor %}
      </ul>
  </div>
</div>







{% endblock %}
{% block content%}
<div class="embed-responsive embed-responsive-16by9">
  <div class="media-body">
    <div class="wrap">
        <div class="map">
      {% if knap.submit.data %}
      <div>
        <iframe src="https://ridewithgps.com/embeds?type=route&id=37759703&sampleGraph=true" style="width: 1px; min-width: 100%; height: 100%px; border: none;" scrolling="no"></iframe>
      </div>
      {% endif %}
      </div>
      </div>
  </div>
</div>




{% endblock %}
